[Unit]
Description=mpcserver 
After=network.target
StartLimitInervalSec=0

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/mpcserver

[Install]
WantedBy=multi-user.target
